* {
    padding: 0px;
    margin: 0px;
    font-family: 'Sarabun', sans-serif;
}

#container {
    width: 1440px;
    height: 2680px;
    display: grid;
    grid-template-rows: 60px auto 560px;
    /* background-color: bisque; */
}


/* Header */

#header {
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Phan ben trai */

#header .header--left {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--left .left--logo {
    padding-left: 20px;
}

.left--menu {
    list-style-type: none;
}

.left--menu li {
    height: 60px;
    display: inline-block;
    line-height: 60px;
    padding: 0px 10px;
}

.left--menu li:hover {
    color: #00bdd6;
    border-bottom: 4px solid #00bdd6;
    box-sizing: border-box;
}


/* Phan ben phai */

#header .header--right {
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.right--search {
    background-color: rgb(224, 224, 224, 0.5);
    padding-left: 10px;
    border-radius: 4px;
}

.right--search .search {
    width: 310px;
    padding: 10px;
    border: none;
    background-color: rgb(224, 224, 224, 0.1);
    outline: none;
}

.right--assets {
    padding-right: 20px;
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


/* Phan footer */

#footer {
    grid-row: 3/4;
}


/* Phan logo */
#footer .footer--logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer--logo .logo {
    width: 150px;
    height: 50px;
}


/* Phan chu Subscribe to our newsletter */
.footer--subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.footer--subscribe .text{
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
}

/* Phan email */
.footer--email{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.footer--email .footer--email--mail{
    background-color: rgb(224, 224, 224, 0.5);
    padding-left: 10px;
    border-radius: 4px 0px 0px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer--email--mail .txtEmail{
    width: 260px;
    padding: 10px;
    border: none;
    background-color: rgba(224, 224, 224, 0.1);
    outline: none;
}

.footer--email .btSub{
    padding: 10px;
    border-width: 110px;
    background-color: #25BEB6;
    border: none;
    border-radius: 0px 4px 4px 0px;
    color: #ffff;
}

.footer--menu{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 90px;
}

.footer--menu .menu{
    list-style-type: none;
    padding-left: 88px;
}

.menu .menu--title{
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    padding-bottom: 30px;
}

.menu .menu--list{
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 30px;
}

.footer--contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
    padding-left: 130px;
    padding-right: 130px;
}

.footer--contact .contact--english{
    border: none;
    background-color: rgba(224, 224, 224, 0.5);
    padding: 10px;
    width: 120px;
    border-radius: 4px;
}

.footer--contact .contact--text{
    color: rgb(153,158,168);
}

.footer--contact .contact--picture{
    width: 150px;
    display: flex;
    justify-content: space-around;
}